@namespace BlazorDynamics.HTMLComponents.Content
@inherits BlazorDynamics.Forms.Components.Content.NumberDisplayBase

<BDFormComponentWrapper Class="numberdisplaycomponent" FormComponent="@this">
    <div class="bd-label">@Label @NumberValue</div>
</BDFormComponentWrapper>