@namespace BlazorDynamics.HTMLComponents.Content
@inherits BlazorDynamics.Forms.Components.Content.StringDisplayBase

<BDFormComponentWrapper Class="stringdisplaycomponent" FormComponent="@this">
    <div class="bd-label">@Label @StringValue</div>
</BDFormComponentWrapper>