@using BlazorDynamics.Forms.Commons
@using BlazorDynamics.Forms.Commons.Components
@using BlazorDynamics.Common.Enums
@namespace BlazorDynamics.Forms.Components

<div class="@($"{Class} {FormComponent.Class}")">
    @if (FormComponent.RuleEffect != RuleEffect.HIDE)
    {
        @ChildContent
    }
    @if (ShowValidation && (!FormComponent?.IsValid ?? true))
    {
        <div class="bd-validation">@(FormComponent?.ValidationString??"")</div>
    }
</div>