@namespace BlazorDynamics.HTMLComponents.Layout
@inherits BlazorDynamics.Forms.Components.Layout.VerticalLayoutBase

@using BlazorDynamics.Common.Enums;

<BDFormComponentWrapper Class="verticalcomponent" FormComponent="@this">
    <div class="vertical-stack">
        @foreach (var element in this.FormModel.Elements)
        {
            <DynamicComponent Type=@GetComponentTypeFor(element) Parameters=@GetValidParametersFor(element) />
        }
    </div>
</BDFormComponentWrapper>