@namespace BlazorDynamics.HTMLComponents.Actions
@inherits BlazorDynamics.Forms.Actions.AddActionBase

<BDFormComponentWrapper Class="addaction" FormComponent="@this">
    <button type="button" @onclick="@AddItem">@Label</button>
</BDFormComponentWrapper>