@namespace BlazorDynamics.HTMLComponents.Actions
@inherits BlazorDynamics.Forms.Actions.SubmitActionBase

<BDFormComponentWrapper Class="submitaction" FormComponent="@this">
    <button type="button" @onclick="@Submit">@Label</button>
</BDFormComponentWrapper>