@namespace BlazorDynamics.HTMLComponents.Input
@inherits BlazorDynamics.Forms.Components.Input.StringComponentBase

<BDFormComponentWrapper Class="stringcomponent" FormComponent="@this" >
    @if (!string.IsNullOrEmpty(Label))
    {
        <div class="bd-label">@Label</div>
    }
    <input @bind="@StringValue" type="@Format" class="form-control" />
</BDFormComponentWrapper>
